# === Ali Audio ===
ALI_AUDIO_AK=YOUR_ALI_AUDIO_AK
ALI_AUDIO_SK=YOUR_ALI_AUDIO_SK
ALI_AUDIO_APP_KEY=YOUR_ALI_APP_KEY

# === DeepSeek ===
DEEPSEEK_API_KEY=YOUR_DEEPSEEK_API_KEY

# === Pexels ===
PEXELS_API_KEY=YOUR_PEXELS_API_KEY

# === Huawei ===
HUAWEI_CES_AK=YOUR_HUAWEI_CES_AK
HUAWEI_CES_SK=YOUR_HUAWEI_CES_SK
HUAWEI_OBS_AK=YOUR_HUAWEI_OBS_AK
HUAWEI_OBS_SK=YOUR_HUAWEI_OBS_SK

# === Tencent ===
TENCENTCLOUD_SECRET_ID=YOUR_TENCENT_SECRET_ID
TENCENTCLOUD_SECRET_KEY=YOUR_TENCENT_SECRET_KEY
